.logo{
  @include pxRem(padding, 10 40);
  &-img{
     @include pxRem(width, 120);
    margin: 0 auto;
  }
}

.navbar{
  min-height: 100%;
  background-color: map-get($colors, primary-bg);
  &-menu{
    background-color: map-get($colors, primary-bg);
  }
}

.ant-menu-inline.ant-menu-root .ant-menu-item{
  &:after{
    border-right: none;
  }
  span a{
    &:hover{
      color: map-get($colors,white);
    }
  }
  &:hover{
    color: map-get($colors,white);
    background-color: map-get($colors, black)
  }
}
.ant-menu-inline {
  border-right: none;;
}
.ant-menu-title-content a{
  color: map-get($colors, black);
}
.ant-menu-item {
  color: map-get($colors, black);
  &:hover{
    color: map-get($colors, white);
  }
}
.sidebar-item .active{
  background-color: map-get($colors, black);
  color: map-get($colors, white);
  a{
    color: map-get($colors, white);
  }
}
